{% extends 'base.html' %}

{% block title %}PETPRO FINDER{% endblock %}

{% block content %}
<div class="container">
  <div class="above-text row justify-content-center">
    <div class="col-10 text-center">
      <div class="primary-font">
        <h2>YOUR PET DESERVES A PRO</h2>
      </div>
      <div class="text-center big-text subprimary-font below-text-padding">
        Find local pet professionals based on experience, credentials, and expertise.
      </div>
      <div class="professional-buttons">
        <div class="groomer-sitter-buttons below-button-padding">
          <span id="groomer-button">
            <a class="btn btn-groomer btn-blue" href="/groomer-search">
              <span class="material-icons">content_cut</span><br>
              GROOMER
            </a>
          </span>
          <span id="sitter-button">
            <a class="btn btn-sitter btn-blue" href="/sitter-search">
              <span class="material-icons">cottage</span><br>
              SITTER 
            </a>
          </span>
        </div>
        <div class="walker-trainer-buttons">
          <span id="walker-button">
            <a class="btn btn-walker btn-blue" href="/walker-search">
              <span class="material-icons">hiking</span><br>
              WALKER
            </a>
          </span>
          <span id="trainer-button">
            <a class="btn btn-trainer btn-blue" href="/trainer-search">
              <span class="material-icons">sports</span><br>
              TRAINER
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
