{% extends 'base.html' %}

{% block title %}PETPRO FINDER{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="find-professional">
        <h2>WHAT KIND OF PROFESSIONAL ARE YOU LOOKING FOR TODAY?</h2>
      </div>

      <div id="professional-buttons">
        <div id="groomer-button">
            <a class="btn btn-groomer" href="/groomer/search">
                🐾 GROOMER 🐾 
            </a>
        </div>
        <div id="sitter-button">
            <a class="btn btn-sitter" href="/sitter/search">
                🐾 SITTER 🐾 
            </a>
        </div>
        <div id="walker-button">
            <a class="btn btn-walker" href="/walker/search">
                🐾 WALKER 🐾 
            </a>
        </div>
        <div id="trainer-button">
            <a class="btn btn-trainer" href="/trainer/search">
                🐾 TRAINER 🐾 
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
