{% extends 'base.html' %}

{% block title %} Log-In / Create Account {% endblock %}

{% block content %}

<div class="container">
    <div class="row log-account">
        <div class="col-6 log-in">
            <h2 class="subheader">Log In</h2>
            <form method="POST" action="/login">      
                <div class="form-group">
                    <label for="search-keyword">Email</label>
                    <input
                        id="submit-email"
                        class="form-control"
                        type="text"
                        name="email"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="search-keyword">Password</label>
                    <input
                        id="submit-password"
                        class="form-control"
                        type="password"
                        name="password"
                        required
                    >
                </div>
                <input type="submit" value="Log In" class="btn btn-orange" id="login-button">
            </form>
        </div>

        <div class="col-6 create-account">
            <h2 class="subheader">Create Account</h2>

            <form method="POST" action="/create-user">      
                <div class="form-group">
                    <label for="search-keyword">Username</label>
                    <input
                        id="submit-username"
                        class="form-control"
                        type="text"
                        name="username"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="search-keyword">Email</label>
                    <input
                        id="submit-email"
                        class="form-control"
                        type="text"
                        name="email"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="search-keyword">Password</label>
                    <input
                        id="submit-password"
                        class="form-control"
                        type="password"
                        name="password"
                        required
                    >
                </div>
                <input type="submit" value="Create Account" class="btn btn-orange" id="login-button">
            </form>
        </div>
    </div>
</div>
<div class="container flash">
    <div class="row login-flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class=flashes>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
<div class="container mao-image">
    <div class="row mao">
        <div class="col-6 mao mao-head">
            <img src="/static/img/mao_head.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-6 mao mao-butt">
            <img src="/static/img/mao_butt.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>


{% endblock %}