{% extends 'base.html' %}

{% block title %}PetPro Details | {{ businessName }}{% endblock %}

{% block content %}
<div class="container" id="basic-info">
  <div class="row">
    <div class="col-4">
      <br>
      <h2>{{ businessName }}</h2>
      <h2>HELLO AGAIN</h2>
      {% for line in professional['location'].display_address %}
          {{ line }}<p>
        {% endfor %}
        {{ professional.display_phone }}
    </div>
    <div class="col-4">
      <br>
        <h3>Average Rating:</h3>
        {% if average_rating != None %}
          {{ average_rating }} paws up!
        {% else %}
          No one has rated this petpro yet! <br>
          If you've worked with this petpro, <br>
          be the first to rate them below!
      {% endif %}
    </div>
    <div class="col-4">
      {% if current_user.is_authenticated and user_rating != None %}
        <h3>{{ current_user.username }}'s rating:</h3>
        {{ user_rating }} paws up!
      {% endif %}
    </div>
  </div>
</div>

  <br>
  <br>

<div class="container" id="attributes">
  <div class="row">
    
    <section class="col-3" id="services">
      <h3>Services</h3>
      <ul>
        {% for category in categories %}
          <li>{{ category.title }}</li>
        {% endfor %}
      </ul>
    </section>

    <section class="col-3" id="memberships">
      <h3>Memberships</h3>
        <ul>
          {% if membership == '' %}
            <li>No Memberships</li>
          {% else %}
            <li>{{ membership }}</li>
          {% endif %}
        </ul>
      </section>
    
    <section class="col-3" id="credentials">
      <h3>Credentials</h3>
        <ul>
          {% if credential == '' %}
            <li>No Credentials</li>
          {% else %}
            <li>{{ credential }}</li>
          {% endif %}
        </ul>
      </section>
    
    <section class="col-3" id="specialties">
      <h3>Specialties</h3>
        <ul>
          {% for specialty in specialties %}
            {% if specialty != '' %}
              <li>{{ specialty }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </section>

  </div>
</div>

<div class="container">
  <div class="row">

    <!-- business image -->
    <div class="col-6">
      <img src="{{ professional['image_url'] }}" class="img-fluid" id="photo">
    </div>

    <!-- business location on google maps -->
    <div class="col-6" id="map"></div>
      <meta id="mapInfo" data-professional-name="{{businessName}}" data-business-lat="{{professional.coordinates.latitude}}" data-business-lng="{{professional.coordinates.longitude}}"></meta>
      <script type="text/javascript" src="/static/businessMap.js">
      </script> 
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj0RjbMD6mz8tpThVVYIbje-4PBU3g86A&callback=initMap">
      </script>
  </div>
  
  <!-- Rate business if user logged in -->
  <div class="row justify-content-center padded align-center">
    <div class="col-8">
      {% if current_user.is_anonymous %}
      <h2>Want to rate this business?</h2>
      <a href="/login-page" target="_blank">
        Please log in first!
      </a>
      {% else %}
      <h2>Rate this business!</h2>
        <form method="POST" action="/professional/{{ label }}/{{ yelp_id }}/rating">
          <div class="form-group">
            <label for="search-keyword">Score</label>
            <select
                id="submit_score"
                class="form-control custom-select"
                name="submit_score"
            >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <input type="submit" value="Submit Score!" class="btn btn-orange">
          </div>
        </form>
      {% endif %}
    </div>
    <div class="col-4 yelp-button text-right">
      <a class="btn btn-orange" href="{{ professional['url'] }}">
        Visit Yelp Page
      </a>
  </div>
  </div>
</div>



{% endblock %}
