{% extends 'base.html' %}

{% block title %}PetPro Details | {{ businessName }}{% endblock %}

{% block content %}
<div class="container" id="basic-info">
  <div class="row">
    <div class="col-12">
      <br>
      <h2 class="pro-name">{{ businessName }}</h2>
      {% for line in professional['location'].display_address %}
          {{ line }}
        {% endfor %} <br>
        {{ professional.display_phone }}
    </div>
  </div>
  <!-- Rating Info Row -->
  <div class="row align-center text-center">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="rate-info">
    <br>
      <h4 class="subheader">Average Rating:</h4>
      {% if average_rating != None %}
        {{ average_rating }} paws up!
      {% else %}
        No one has rated this petpro yet! <p></p>
        If you've worked with this petpro, <br>
        be the first to rate them!
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="rate-info">
    <br>
    {% if current_user.is_authenticated and user_rating != None %}
      <h4 class="subheader">{{ current_user.username }}'s rating:</h4>
      {% for i in range(user_rating) %}
        <span class="material-icons">pets</span>
      {% endfor %}
    {% endif %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="rate-info">
      <br>
      {% if current_user.is_anonymous %}
        <h4 class="subheader">Want to rate this business?</h4>
        <a class="btn btn-orange" id="score-button" href="/login-page">Log In First!</a>
      {% else %}
        <h4 class="subheader">Rate this business!</h4>
          <form method="POST" action="/professional/{{ label }}/{{ yelp_id }}/rating" class="row">
            <div class="row score-form-group">
              <!-- <label for="search-keyword">Score</label> -->
              <select
                  id="submit_score"
                  class="form-control score-form custom-select"
                  name="submit_score"
              >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
              </select>
              <span class="col-3 score-button">
                <input type="submit" value="Submit Score" class="btn btn-orange" id="score-button">
              </span>
            </div>
          </form>
      {% endif %}
    </div>
  </div>
</div>

<br>
<br>

<div class="imagemap container">
  <div class="row">
    <!-- business image -->
    <div class="col-6">
      <img src="{{ professional['image_url'] }}" class="img-fluid" id="photo">
    </div>
    <!-- business location on google maps -->
    <div class="col-6" id="map"></div>
      <meta id="mapInfo" data-professional-name="{{businessName}}" data-professional-yelp="{{professional.url}}" data-business-lat="{{professional.coordinates.latitude}}" data-business-lng="{{professional.coordinates.longitude}}"></meta>
      <script type="text/javascript" src="/static/businessMap.js">
      </script> 
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj0RjbMD6mz8tpThVVYIbje-4PBU3g86A&callback=initMap">
      </script>
  </div>
</div>

<div class="attributes container" id="attributes">
  <p>
    <button class="btn btn-orange attribute-btn" type="button" data-bs-toggle="collapse" data-bs-target="#services" aria-expanded="false" aria-controls="services">Services</button>
    <button class="btn btn-orange attribute-btn" type="button" data-bs-toggle="collapse" data-bs-target="#memberships" aria-expanded="false" aria-controls="memberships">Memberships</button>
    <button class="btn btn-orange attribute-btn" type="button" data-bs-toggle="collapse" data-bs-target="#credentials" aria-expanded="false" aria-controls="credentials">Credentials</button>
    <button class="btn btn-orange attribute-btn" type="button" data-bs-toggle="collapse" data-bs-target="#specialties" aria-expanded="false" aria-controls="specialties">Specialties</button>
    <button class="btn btn-orange all-attribute-btn" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="services memberships credentials">All</button>
  </p>
  <div class="row">
    <div class="col collapse-btns">
      <div class="collapse multi-collapse" id="services">
        <div class="card card-body">
          <ul class="no-type">
            {% for category in categories %}
              <li>{{ category.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="memberships">
        <div class="card card-body">
          <ul class="no-type">
            {% if membership == '' %}
              <li>No Memberships</li>
            {% else %}
              <li>{{ membership }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="credentials">
        <div class="card card-body">
          <ul class="no-type">
            {% if credential == '' %}
              <li>No Credentials</li>
            {% else %}
              <li>{{ credential }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="specialties">
        <div class="card card-body">
          <ul class="no-type">
            {% for specialty in specialties %}
              {% if specialty != '' %}
                <li>{{ specialty }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
