{% extends 'base.html' %}

{% block title %}Find Dog Walkers{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Search for Dog Walkers</h2>

            <form method="GET" action="/walker-results">
        
                <div class="form-group">
                    <label for="search-keyword">Search Location</label>
                    <small class="form-text text-muted">
                        Type in an address you'd like to search from.
                    </small>

                    <input
                        id="search-address"
                        class="form-control"
                        type="text"
                        name="address"
                    >
                </div>

                <div class="form-group">
                    <label for="search-radius">Distance Radius</label>
                        <small class="form-text text-muted">
                            How many miles would you like to search from your location?
                        </small>

                    <select
                        id="search-radius"
                        class="form-control custom-select"
                        name="radius"
                    >
                        <option value="5">5 miles</option>
                        <option value="10">10 miles</option>
                        <option value="15">15 miles</option>
                        <option value="20">20 miles</option>
                    </select> 
                </div>

                <div class="form-group">
                    <label for="search-sort-by">Sort by</label>

                    <select
                        id="search-sort-by"
                        class="form-control custom-select"
                        name="sort_by"
                    >
                        <option value="best_match">Best Match</option>
                        <option value="rating">Rating</option>
                        <option value="review_count">Review Count</option>
                        <option value="distance">Distance</option>
                    </select>
                </div>

                <br>
                <h3>Advanced Search</h3>

                <div class="form-group">
                    <label for="search-by-memberships">Memberships</label>
                    <small class="form-text text-muted">
                        Do you prefer your walker belong to a specific professional organization?
                    </small>
                    <select
                        id="search-memberships"
                        class="form-control custom-select"
                        name="memberships"
                    >
                        {% for membership in memberships %}
                            <option value="{{ membership }}"> {{ membership }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="search-by-credentials">Credentials</label>
                    <small class="form-text text-muted">
                        Do you prefer your walker have specific professional certifications?
                    </small>
                    <select
                        id="search-credentials"
                        class="form-control custom-select"
                        name="credentials"
                    >
                        {% for credential in credentials %}
                            <option value="{{ credential }}"> {{ credential }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="search-by-specialties">Specialties</label>
                    <small class="form-text text-muted">
                        Do you prefer your walker specialize in the service you are looking for?
                    </small>
                    <select
                        id="search-specialties"
                        class="form-control custom-select"
                        name="specialties"
                    >
                        {% for specialty in specialties %}
                            <option value="{{ specialty }}"> {{ specialty }}</option>
                        {% endfor %}
                    </select>
                </div>

                <br>
                <br>
                <input type="submit" value="Look for dog walkers!" class="btn btn-walker">
            </form>
        </div>
    </div>
</div>
{% endblock %}
